# Created by venv; see https://docs.python.org/3/library/venv.html

pyvenv.cfg
/Include/
/Lib/
/Scripts/
/raw_data/
bees_listbreweries_*.json
share\py4j
/dags/sql
/dags/bronze_extraction_brewerieslist_dag.py
/dags/gold_extraction_brewerieslist_dag.py
/dags/silver_extraction_brewerieslist_dag.py
/dags/database_breweries_dag.py